body{
  background-color: rgb(235, 82, 82);

  display: flex;
  align-items: center;
  justify-content: center;

  flex-flow: column wrap;

  height: 100vh;
  overflow: hidden;
}
/* 按钮格式设置 */
.magic{
  background-color: yellow;
  /* 相对于浏览器窗口固定定位，距离窗口顶部20px */
  position: fixed;
  top: 10px;
  z-index: 100;

  border: 0;
  cursor: pointer;

  /* 添加阴影效果 */
  box-shadow: 1px 3px gray;
}
.magic:active{
  box-shadow: none;
  transform: translateY(2px);
  /* 被按下时取消阴影，元素下移2像素，模拟被按下效果 */
}

/* 容器样式设置 */
.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  /* 为其后代元素提供一个相对的定位参考点 */
  position: relative;

  transition: 0.4s ease;        /* 添加过渡动画，持续0.4秒，缓动效果 */
}
/* 当添加.big类时，宽度和高度改变 模拟分裂效果 */
.boxes.big{
  width: 600px;
  height: 600px;
}
.boxes.big .box {
  transform: rotateZ(360deg);
}
.box{
  background-image: url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif'); 
  background-repeat: no-repeat; 
  background-size: 500px 500px; 
  /* 相对定位，作为伪元素绝对定位的参考 */
  position: relative; 
  /* 元素高度为125px 实现裁剪效果 */
  height: 125px; 
  width: 125px; 
  transition: 0.4s ease; /* 添加过渡动画，持续0.4秒，缓动效果 */
}